
body{background-color:black;
text-align:center;
width:;
color:white;

}
.home{margin-right:500;}
.logo{
width:50px;
height:px;
}
.tesla{margin-right:50;
font-size:50px;
}
.bitcoin{
margin:70px 50px 20px 20px;
width:60%;
height:40%;
}
.addressB{
color:gold;
}
.addressE{
color:gold;
}
.eth{
margin:70px 20px 20px 20px;
width:60%;
height:40%;
}
.Baddress{
text-align:cente;
}
.Eaddress{
text-align:cente;
font-color:red;
}
.loading{
width:25px;
height:25px;
}
.p{
color:blue;
}
