body{background-color:white;
width:100%;
color:black;
}
.row{text-align:center;}
.logo{
width:50px;
height:50px
}
.started{
margin-left:px;
width:150px;
height:50px;
}
.musk1{
width:50px;
height:50px;
border-radius:50px;
margin-bottom:10px;
}
.Elon{
width:100%;
}
.musk{
width:95%;
height:200px;
margin-left:10px;
margin-right:10px;
}

.rand{
width:50px;
height:50px;
border-radius:50px;
}
.sarah{
width:50px;
height:50px;
border-radius:50px;
}
.david{
width:50px;
height:50px;
border-radius:50px;
}
.daren{
width:50px;
height:50px;
border-radius:50px;
}
.ETH{
width:50px;
height:50px;
border-radius:50px;
}
.kevin{
width:50px;
height:50px;
border-radius:50px;
}
.digital{
width:50px;
height:50px;
border-radius:50px;
}
.rand-div{
background-color:;
text-align:center;
margin:10px 30px 10px 30px;
width:95%;
color:gold;
} 
.sarah-div{
background-color:;
text-align:center;
margin:10px 30px 10px 30px;
width:95%;
color:gold;
}
.daren-div{
background-color:;
text-align:center;
margin:10px 30px 10px 30px;
width:95%;
color:gold;
}
.david-div{
background-color:;
text-align:center;
margin:10px 30px 10px 30px;
width:95%;
color:gold;
}
.ETH-div{
background-color:;
text-align:center;
margin:10px 30px 10px 30px;
width:95%;
color:gold;
}
.kevin-div{
background-color:;
text-align:center;
margin:10px 30px 10px 30px;
width:95%;
color:gold;
}
.digital-div{
background-color:;
text-align:center;
margin:10px 30px 10px 30px;
width:95%;
color:gold;
}
.support{
background-color:dark;
text-align:center;
}
#testimonials{
color:gold;
}
